@{
    Layout = "_AdminLayout";
}

@section styles{

    <link rel="stylesheet" href="~/admin/vendors/lightbox/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/admin/vendors/dataTable/dataTables.min.css" type="text/css">

    <style>
        #table_filter > input {
            margin-right: 5% !important;
        }
    </style>
}

@section scripts{
    <script src="~/admin/vendors/lightbox/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/momentjs/moment.min.js" asp-append-version="true"></script>
    <script src="~/admin/vendors/dataTable/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendors/dataTable/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/vendors/dataTable/dataTables.responsive.min.js"></script>
    <script src="~/Admin/js/News/news.js"></script>
}



<div class="card card-custom mb-5">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-supermarket text-primary"></i>
            </span>
            <h3 class="card-label">لیست اخبار</h3>
        </div>
        <div class="card-toolbar">
            <div class="btn-group">
                <a asp-controller="News" asp-action="upsert" class="btn btn-primary font-weight-bolder">ثبت رکورد جدید</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class=" d-flex justify-content-end card-toolbar custom-switch custom-checkbox-danger ml-auto">
            <input type="checkbox" class="custom-control-input" id="showdelted" name="delted" onchange="SwitchDeleted()">
            <label class="custom-control-label mx-2" for="showdelted">حذف شده ها</label>
        </div>
        <div class="table-responsive">
            <table class="ajax-data-table table table-hover table-striped" id="Table">
                <thead>
                    <tr>
                        <th class="all">#</th>
                        <th class="all">عنوان</th>
                        <th class="all">تصویر</th>
                        <th class="all">توضیح</th>
                        <th class="all">اقدامات</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>