@model Pardisan.ViewModels.NewsVM

@{
    Layout = "_AdminLayout";
}


@section styles{
    <link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/decoupled-document/ckeditor.js"></script>
}

@section scripts{
    <script src="~/js/bootstrap-tagsinput.js" asp-append-version="true"></script>
    <script src="~/admin/js/News/upsertNews.js" asp-append-version="true"></script>

    <script>
        $(function () {
            FullCkEditor('Content');
        });
        $(document).ready(function () {
            theEditor.setData(document.getElementById("ContentValue").value);
        });
    </script>

}

<div class="container card card-custom card-sticky pb-5 " id="kt_page_sticky_card">
    <div class="card-header">
        <div class="d-flex justify-content-between w-100">
            <div class="card-title">

                <h3 class="card-label">
                    @(Model?.Id != null ? ViewBag.Title = "ویرایش خبر: " + Model.Title : ViewBag.Title = "ثبت خبر")
                </h3>
            </div>
            <div class="card-toolbar btn-group">
                <a asp-action="index" class="btn btn-outline-primary font-weight-bold ">بازگشت</a>
                @if (Model?.Id != null)
                {
                    <button id="submit-formEdit" type="button" class="btn btn-primary font-weight-bold">تغییر</button>
                }
                else
                {
                    <button id="submit-formCreate" type="button" class="btn btn-primary font-weight-bold">ثبت</button>
                }
            </div>
        </div>
    </div>
    <div class="card-body">

        <form asp-action="Upsert" method="post" class=" form" id="formCreate" onsubmit="return false">
            @if (Model?.Id != 0)
            {
                <input type="hidden" hidden asp-for="Id" />
            }
            <div class="row">
                <div class="col-md-12 my-4">
                    <div class="form-group">
                        <label class="h5 font-weight-bolder text-dark mb-3">عنوان </label>
                        <input type="text" class="form-control" asp-for="Title" placeholder="نام خبر" required />
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <div class="form-group">
                        <label class="h5 font-weight-bolder text-dark mb-3">توضیح مختصر </label>
                        <input type="text" class="form-control" asp-for="Describtion" placeholder="نام خبر" required />
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <div class="form-group">
                        <label class="h5 font-weight-bolder text-dark mb-3">محتوا </label>
                        <div id="toolbar-container"></div>
                        <input id="ContentValue" value="@Model?.Content" hidden type="hidden" />
                        <div id="Content" name="Content" class="form-control border"></div>
                    </div>
                </div>

                <div class="col-md-6 my-4">
                    <label class="h5 font-weight-bolder text-dark mb-1">تگ ها</label>
                    <br />
                    <input asp-for="Tags" type="text" data-role="tagsinput" />
                </div>
                <div class="col-md-6 form-group my-4">
                    <label class="h5 font-weight-bolder text-dark mb-1">دسته بندی</label>
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control"></select>
                </div>
                <div class="col-md-6 form-group my-5">
                    <label class="h5 font-weight-bolder text-dark mb-1">عکس</label>
                    <br />
                    <label for="Image" class="btn btn-light mx-3 mt-2">انتخاب عکس</label>
                    <input asp-for="Image" class="d-none" type="file" style="visibility:hidden;" />
                    <span class="text-justify">@Model?.Image.Substring(Model.Image.LastIndexOf("/") + 1)</span>
                    <div class="mt-4" style="max-width:50% !important;">
                        <img id="thumbimage" class="img img-thumbnail" src="@Model?.Image" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
