
@{
    ViewData["Title"] = "درباره ما";
}



<section class="banner_area">
    <div class="container">
        <h1 class="text-white IRANSans_Bold">درباره ما</h1>
        <div class="breadcrumb_content">
            <ul>
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#">درباره ما</a></li>
            </ul>
        </div>
    </div>
</section>


<section class="container p-md-5 p-4 ">
    <div class="row">
        <div class="col-md-6 mb-3 px-sm-3">
            <div class="d-flex flex-row mb-2">
                <div class="Dottedstocol ml-3"></div>
                <div class="singletitle">
                    <span>اهداف و نگرش ها</span>
                    <h1 class="text-right">همواره نزد ما اولویت اهداف با مشتری ست </h1>
                </div>
            </div>
            <div class="line_bottom mb-4"></div>
            <div class="pr-lg-3">
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی </p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی </p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی </p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>

            </div>
        </div>

        <div class="col-md-6 mb-3 px-3">
            <div class="d-flex flex-row mb-2">
                <div class="Dottedstocol ml-3"></div>
                <div class="singletitle">
                    <span>مدیریت مجموعه</span>
                    <h1 class="text-right">مهندس مجید احمدی</h1>
                </div>
            </div>
            <div class="line_bottom"></div>
            <img src="~/img/other-pic3.jpg" class="img-fluid radius15 my-3" />
            <ul class="info-member p-3 bg-light radius15 IRANSans_Medium mb-3">

                <li>
                    <p><i class="fal fa-hospital ml-2"></i><span>سمت : </span><span>مدیریت مجموعه</span></p>
                </li>
                <li>
                    <p><i class="fal fa-calendar ml-2"></i><span>سابقه کاری : </span><span>37 سال</span></p>
                </li>
                <li>
                    <p><i class="fal fa-book ml-2"></i><span>تحصیلات : </span><span>دکترای مهندسی عمران</span></p>
                </li>
            </ul>
        </div>


    </div>
    <div class="row my-3">
        <div class="col-md-12">
            <div class="row b-info justify-content-around bg-dark radius20 p-3  text-center">
                <div class="col-lg-3 col-6 mb-3">
                    <span>64+</span>
                    <p>پروژه های تکمیل شده</p>
                </div>
                <div class="col-lg-3 col-6 mb-3">
                    <span>250+</span>
                    <p>کارگران شاغل</p>
                </div>
                <div class="col-lg-3 col-6 mb-3">
                    <span>89+</span>
                    <p>مشتریان افتخاری</p>
                </div>
                <div class="col-lg-3 col-6 mb-3">
                    <span>86+</span>
                    <p>جوایز برنده</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row mt-4">
        <div class="Dottedstocol ml-3"></div>
        <div class="singletitle">
            <span>نشان ها</span>
            <h1 class="text-right">جوایز و افتخارات کسب شده</h1>
        </div>
    </div>
    <div class="row mt-3">


        <div class="col-xl-8 col-lg-7 order-1 order-lg-0 mb-3 px-3">

            <p class="text-justify">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>

        </div>
        <div class="col-xl-4 col-lg-5 order-0 order-lg-1 text-center p-4">
            <img src="~/img/tandis.png" />
        </div>


    </div>

</section>


