
@{
    ViewData["Title"] = "دستاوردها";
}

<section class="banner_area">
    <div class="container">
        <h1 class="text-white IRANSans_Bold">دستاوردها</h1>
        <div class="breadcrumb_content">
            <ul>
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#">دستاوردها</a></li>
            </ul>
        </div>
    </div>
</section>


<section class="container ">
    <div class="row">

        <div class="col-md-8 p-md-5 p-4 mb-3 ">
            <div class="d-flex flex-row mb-3">
                <div class="Dottedstocol ml-3"></div>
                <div class="singletitle">
                    <span>دستاوردها</span>
                    <h1 class="text-right">شرکت فنی مهندسی پردیسان</h1>
                </div>
            </div>
            <p class="mt-3 text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود است</p>
            <div class="pr-lg-3">
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی </p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                <p><i class="fal fa-check text-success ml-2"></i>لورم ایپسوم متن ساختگی با تولید</p>
            </div>
            <div class="mt-3">
                <a class="btn btn-warning text-white"><i class="fal fa-download ml-2"></i>دانلود نمونه کارها</a>
                <a class="btn btn-dark" asp-controller="Home" asp-action="ContactUs"><i class="fal fa-phone ml-2"></i>ارتباط با ما</a>
            </div>
        </div>
        <div class="col-md-4 mb-3 d-md-block d-none text-center">
            <img src="~/Img/index6.png" />
        </div>

    </div>
    <div class="row my-3">
        <div class="col-md-12">
            <div class="row b-info justify-content-around bg-dark radius20 p-3  text-center">
                <div class="col-lg-3 col-6 mb-3">
                    <span>64+</span>
                    <p class="IRANSans_Bold">پروژه های تکمیل شده</p>
                </div>
                <div class="col-lg-3 col-6 mb-3">
                    <span>250+</span>
                    <p class="IRANSans_Bold">کارگران شاغل</p>
                </div>
                <div class="col-lg-3 col-6 mb-3">
                    <span>89+</span>
                    <p class="IRANSans_Bold">مشتریان افتخاری</p>
                </div>
                <div class="col-lg-3 col-6 mb-3">
                    <span>86+</span>
                    <p class="IRANSans_Bold">جوایز برنده</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-lg-12">
            <p class="text-justify m-4">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>

        </div>
    </div>


    <div class="row mt-1 text-center pb-5">
        <div class="col-lg-12">
            <img src="~/Img/jav.jpg" class="m-3" />
            <img src="~/Img/jav2.jpg" class="m-3" />
            <img src="~/Img/jav.jpg" class="m-3" />
            <img src="~/Img/jav2.jpg" class="m-3" />

        </div>
    </div>

</section>


