
@{
    ViewData["Title"] = "گواهینامه";
}


<section class="banner_area">
    <div class="container">
        <h1 class="text-white IRANSans_Bold">گواهینامه ها</h1>
        <div class="breadcrumb_content">
            <ul>
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#">گواهینامه ها</a></li>
            </ul>
        </div>
    </div>
</section>

<div class="container verify" style="margin-top:-25px;z-index:100;position:relative;max-width:1100px;justify-content:center">
    <div class="row  bg-white px-5 pt-3 shadow radius10 IRANSans_Bold text-center">
        <div class="col-xl-2 col-md-4 col-6 mb-lg-1 mb-3">
            <img src="~/Img/icons/support-benefit-icon.svg" class="mb-2" />
            <h2>مشاوره 24 ساعته</h2>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mb-lg-1 mb-3">
            <img src="~/Img/icons/quality-benefit-icon.svg" class="mb-2" />
            <h2>کنترل کیفی</h2>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mb-lg-1 mb-3">
            <img src="~/Img/icons/credit-benefit-icon.svg" class="mb-2" />
            <h2>کارفرمایان مجرب</h2>
        </div>

        <div class="col-xl-2 col-md-4 col-6 mb-lg-1 mb-3">
            <img src="~/Img/icons/guarantee-benefit-icon.svg" class="mb-2" />
            <h2>هزینه بصرفه</h2>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mb-lg-1 mb-3">
            <img src="~/Img/icons/train-benefit-icon.svg" class="mb-2" />
            <h2>نشان اعتبار</h2>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mb-lg-1 mb-3">
            <img src="~/Img/icons/certificate-benefit-icon.svg" class="mb-2" />
            <h2>پیاده سازی ایده</h2>
        </div>
    </div>
</div>

<section class="container blog-grid mt-5">

    <div class="d-flex flex-row mb-3">
        <div class="Dottedstocol ml-3"></div>
        <div class="singletitle">
            <h1 class="testt text-right">گواهینامه ها</h1>
        </div>
    </div>
    <div id="" class="owl-carousel owl-theme owl-outproject text-right ">
        <div class="m-2 blog_style">
            <a href="Portfoilo_details.html"><img class="card-img-top" src="~/Img/13.jpg" alt="Card image"></a>
            <div class="card-body">
                <h3 class="mb-2"><a href="Portfoilo_details.html">گواهینامه رسمی از ایتالیا</a></h3>
                <p class="mb-2">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                </p>
                <div class="d-flex flex-row justify-content-between mt-2 pt-2 metraj">
                    <span>مجوز رسمی از نظام مهندسی</span>
                </div>
            </div>
        </div>
        <div class="m-2 blog_style">
            <a href="Portfoilo_details.html"><img class="card-img-top" src="~/Img/2.jpg" alt="Card image"></a>
            <div class="card-body">
                <h3 class="mb-2"><a href="Portfoilo_details.html">گواهینامه رسمی از ایتالیا</a></h3>
                <p class="mb-2">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                </p>

                <div class="d-flex flex-row justify-content-between mt-2 pt-2 metraj">
                    <span>مجوز رسمی از نظام مهندسی</span>
                </div>
            </div>
        </div>
        <div class="m-2 blog_style">
            <a href="Portfoilo_details.html"><img class="card-img-top" src="~/Img/14.jpg" alt="Card image"></a>
            <div class="card-body">
                <h3 class="mb-2"><a href="Portfoilo_details.html">گواهینامه رسمی از ایتالیا</a></h3>
                <p class="mb-2">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                </p>

                <div class="d-flex flex-row justify-content-between mt-2 pt-2 metraj">
                    <span>مجوز رسمی از نظام مهندسی</span>
                </div>
            </div>
        </div>
        <div class="m-2 blog_style">
            <a href="Portfoilo_details.html"><img class="card-img-top" src="~/Img/16.jpg" alt="Card image"></a>
            <div class="card-body">
                <h3 class="mb-2"><a href="Portfoilo_details.html">گواهینامه رسمی از ایتالیا</a></h3>
                <p class="mb-2">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                </p>

                <div class="d-flex flex-row justify-content-between mt-2 pt-2 metraj">
                    <span>مجوز رسمی از نظام مهندسی</span>
                </div>
            </div>
        </div>
        <div class="m-2 blog_style">
            <a href="Portfoilo_details.html"><img class="card-img-top" src="~/Img/4.jpg" alt="Card image"></a>
            <div class="card-body">
                <h3 class="mb-2"><a href="Portfoilo_details.html">گواهینامه رسمی از ایتالیا</a></h3>
                <p class="mb-2">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                </p>

                <div class="d-flex flex-row justify-content-between mt-2 pt-2 metraj">
                    <span>مجوز رسمی از نظام مهندسی</span>
                </div>
            </div>
        </div>

    </div>
</section>


