
@{
    ViewData["Title"] = "ارتباط باما";
}



<section class="banner_area">
    <div class="container">
        <h1 class="text-white IRANSans_Bold">ارتباط با ما</h1>
        <div class="breadcrumb_content">
            <ul>
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#">ارتباط با ما</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="container p-md-5 p-4 ">

    <div class="row">
        <div class="col-md-6 mb-5 brcontact">
            <div class="box p-3 ml-4 radius15">
                <div class="d-flex flex-row mb-3">
                    <div class="Dottedstocol ml-3"></div>
                    <div class="singletitle">
                        <span>ثبت نظر</span>
                        <h1 class="text-right">گروه ساختمانی پردیسان</h1>
                    </div>
                </div>

                <div class="position-relative pl-4">
                    <p class="mb-3 bg-light p-3 radius10">جهت ارسال نظرات خود می توانید از فرم زیر استفاده نمایید</p>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control mb-3" placeholder="نام">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control mb-3" placeholder="ایمیل">
                        </div>
                    </div>
                    <form class="contact-form">

                        <textarea class="form-control mb-3" cols="60" rows="9" placeholder="متن پیام"></textarea>
                        <button type="submit" class="btn btn-warning text-white mr-3">ارسال پیام</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="col-md-6 mb-5">

            <h3 class="IRANSans_Bold mb-2">راه های ارتباطی دیگر</h3>
            <div class="line_bottom mb-4"></div>
            <div class="contact-block mb-2">
                <h4> - آدرس ما : </h4>

                <p>
                    مازندران - قائمشهر - خیابان بابل
                </p>

            </div>

            <div class="contact-block mb-2">
                <h4> - ساعات کاری :</h4>
                <p>
                    <span>شنبه تا چهارشنبه -</span>
                    <span>9 صبح الی 17 عصر</span>
                </p>

            </div>

            <div class="contact-block mb-2">
                <h4> - شماره های تماس :</h4>
                <p>
                    <span>09124567893</span> -
                    <span>01142270000</span>
                </p>
            </div>

            <div class="contact-block mb-2">
                <h4>- ایمیل :</h4>
                <p>info@pardisan.com  </p>
            </div>
            <div class="social mb-2">
                <h4>شبکه های اجتماعی :</h4>
                <div class="pt-2">
                    <a href="#"><i class="fab fa-whatsapp p-2 bg-success text-white"></i></a>
                    <a href="#"><i class="fab fa-telegram p-2 bg-info text-white"></i></a>
                    <a href="#"><i class="fab fa-facebook p-2 bg-facebook text-white"></i></a>
                    <a href="#"><i class="fab fa-instagram p-2 bg-insta text-white"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 contact-block mb-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101637.20058196294!2d55.12445659536889!3d37.24385138392286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f82bf0f3681aac1%3A0xb8eacc0ae01e8b94!2sQabus%20Ibn%20Voshmgir%20Tower!5e0!3m2!1sen!2s!4v1611689478637!5m2!1sen!2s" class="radius15" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</section>

