
@{
    ViewData["Title"] = "تیم ما";
}



<section class="banner_area">
    <div class="container">
        <h1 class="text-white IRANSans_Bold">اعضای تیم</h1>
        <div class="breadcrumb_content">
            <ul>
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#">تیم ما</a></li>
            </ul>
        </div>
    </div>
</section>

<div class="container mt-5">
    <div class="row  bg-warning  px-5 py-3 radius10">
        <div class="col-lg-9 text-white  text-lg-right text-center">
            <h5 class="IRANSans_Medium">"ما تنها ساختمان های شما را نمیسازیم بلکه رویاهای شما را خواهیم ساخت .. "</h5>
        </div>
        <div class="col-lg-3 text-dark text-lg-left text-center mt-lg-0 mt-3">
            <a class="btn btn-light radius20 text-dark IRANSans_Medium">تماس بگیرید : 09304567896</a>
        </div>
    </div>
</div>


<div class="container Service mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-6 d-lg-block d-none ">
            <img src="~/Img/testimonial3.png" />
        </div>
        <div class="col-lg-3 col-md-6 ">
            <div class="d-flex  flex-column sbox py-4 px-5 mb-4 radius15">
                <div class="mb-3">
                    <img src="~/Img/icons/icon10.png" />
                </div>
                <div class="line_bottom"></div>
                <div>
                    <h2 class="IRANSans_Medium">بهترین مصالح</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است ..</p>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 ">
            <div class="d-flex flex-column sbox py-4 px-5 mb-4 radius15">
                <div class="mb-3">
                    <img src="~/Img/icons/icon9.png" />
                </div>
                <div class="line_bottom"></div>
                <div>
                    <h2 class="IRANSans_Medium">رنگ بندی جذاب</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است ..</p>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12">
            <div class="d-flex flex-column sbox py-4 px-5 mb-4 radius15">
                <div class="mb-3">
                    <img src="~/Img/icons/icon8.png" />
                </div>
                <div class="line_bottom"></div>
                <div>
                    <h2 class="IRANSans_Medium">طراحی مدرن</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است ..</p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="container px-md-5 p-4 ">

    <div class="team-boxed our-team bg-lighten radius20">
        <div class="d-flex flex-row my-3">
            <div class="Dottedstocol ml-3"></div>
            <div class="singletitle">
                <h1 class="text-right">معرفی اعضای تیم مجموعه </h1>
            </div>
        </div>
        <div class="row team p_relative">
            <div class="Dottedsquare"></div>
            <div class="col-xl-3 col-lg-4 col-sm-6 item">
                <div class="box">
                    <a href="Ourteam_details.html">
                        <img class="rounded-circle" src="~/Img/avatar.jpg">
                        <h3 class="name">مصطفی جراحی</h3>
                        <p class="title">ناظر پروژه و پیمانکار</p>
                        <div class="social mt-2">
                            <a href="#"><i class="fab fa-whatsapp bg-success text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-telegram bg-primary text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-instagram bg-insta text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-facebook-f bg-facebook text-white px-2 py-1"></i></a>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 item">
                <div class="box">
                    <a href="Ourteam_details.html">
                        <img class="rounded-circle" src="~/Img/avatar.jpg">
                        <h3 class="name">مصطفی جراحی</h3>
                        <p class="title">پیمانکار بخش فنی</p>
                        <div class="social mt-2">
                            <a href="#"><i class="fab fa-whatsapp bg-success text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-telegram bg-primary text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-instagram bg-insta text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-facebook-f bg-facebook text-white px-2 py-1"></i></a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 item">
                <div class="box">
                    <a href="Ourteam_details.html">
                        <img class="rounded-circle" src="~/Img/avatar.jpg">
                        <h3 class="name">مصطفی جراحی</h3>
                        <p class="title">ناظر فنی برج سازی</p>
                        <div class="social mt-2">
                            <a href="#"><i class="fab fa-whatsapp bg-success text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-telegram bg-primary text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-instagram bg-insta text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-facebook-f bg-facebook text-white px-2 py-1"></i></a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 item">
                <div class="box">
                    <a href="Ourteam_details.html">
                        <img class="rounded-circle" src="~/Img/avatar.jpg">
                        <h3 class="name">مصطفی جراحی</h3>
                        <p class="title">مدیریت اجرایی داخلی</p>
                        <div class="social mt-2">
                            <a href="#"><i class="fab fa-whatsapp bg-success text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-telegram bg-primary text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-instagram bg-insta text-white p-1"></i></a>
                            <a href="#"><i class="fab fa-facebook-f bg-facebook text-white px-2 py-1"></i></a>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>



<h3 class="bt-center text-center IRANSans_Bold mb-4">نظرات مشتریان</h3>
<section class="container mb-5">
    <div class="row">
        <div class="col-lg-12">
            <div id="owl-customershoz" class="owl-carousel owl-theme d1customer text-right">
                <div class="d-flex flex-row">
                    <div>
                        <img src="~/Img/Logo1.png" />
                    </div>
                    <div class="mt-3">
                        <h3 class="mb-2">مجموعه پارسیان</h3>
                        <p>دیزاین فوق العاده و زیبا که محل کار رو دو چندان زیبا کرده - سپاس</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <img src="~/Img/Logo2.png" />
                    </div>
                    <div class="mt-3">
                        <h3 class="mb-2">مجتمع الماس</h3>
                        <p>دیزاین فوق العاده و زیبا که محل کار رو دو چندان زیبا کرده - سپاس</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <img src="~/Img/Logo3.png" />
                    </div>
                    <div class="mt-3">
                        <h3 class="mb-2">رستوران رزگلد</h3>
                        <p>دیزاین فوق العاده و زیبا که محل کار رو دو چندان زیبا کرده - سپاس</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <img src="~/Img/Logo4.png" />
                    </div>
                    <div class="mt-3">
                        <h3 class="mb-2">کلینیک تینا</h3>
                        <p>دیزاین فوق العاده و زیبا که محل کار رو دو چندان زیبا کرده - سپاس</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
