@model Pardisan.ViewModels.Aparat.UpsertAparatVM

@{
    Layout = "_AdminLayout";
}

@{
    ViewBag.Title = "ثبت پروژه";
    if (Model != null)
    {
        ViewBag.Title = "ویرایش پروژه: " + Model.Title;
    }
}
@section styles{
    <link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/ckeditor/ckeditor2.js"></script>
    <link href="~/date/persianDatepicker-default.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/js/bootstrap-tagsinput.js" asp-append-version="true"></script>
    <script src="~/Admin/js/Aparat/upsertAparat.js" asp-append-version="true"></script>
    <script src="~/date/persianDatepicker.js"></script>

}

<div class="container card card-custom card-sticky pb-5 " id="kt_page_sticky_card">
    <div class="card-header">
        <div class="d-flex justify-content-between w-100">
            <div class="card-title">

                <h3 class="card-label">
                    @(Model?.Id != null ? ViewBag.Title = "ویرایش پروژه: " + Model.Title : ViewBag.Title = "ثبت پروژه")
                </h3>
            </div>
            <div class="card-toolbar btn-group">
                <a asp-action="index" class="btn btn-outline-primary font-weight-bold ">بازگشت</a>
                @if (Model?.Id != null)
                {
                    <button id="submit-formEdit" type="button" class="btn btn-primary font-weight-bold">تغییر</button>
                }
                else
                {
                    <button id="submit-formCreate" type="button" class="btn btn-primary font-weight-bold">ثبت</button>
                }
            </div>
        </div>
    </div>
    <div class="card-body">

        <form asp-action="Upsert" method="post" class=" form" id="formCreate" enctype="multipart/form-data" onsubmit="return false">
            @if (Model != null)
            {
                if (Model?.Id != 0)
                {
                    <input type="hidden" hidden asp-for="Id" />
                }
                else
                {
                    <input type="hidden" hidden asp-for="Id" value="0" />

                }
            }
            else
            {
                <input type="hidden" hidden asp-for="Id" value="0" />
            }
            <div class="row">
                <div class="col-md-6 my-4">
                    <div class="form-group">
                        <label class="h5 font-weight-bolder text-dark mb-3">عنوان </label>
                        <input type="text" class="form-control" asp-for="Title" placeholder="عنوان" required />
                    </div>
                </div> 
                <div class="col-md-6 my-4">
                    <div class="form-group">
                        <label class="h5 font-weight-bolder text-dark mb-3">کد </label>
                        <input type="text" class="form-control" asp-for="Code" placeholder="کد" required />
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <div class="form-group">
                        <label class="h5 font-weight-bolder text-dark mb-3">لینک آپارات</label>
                        <input type="text" class="form-control" asp-for="AparatLink" placeholder="لینک آپارات" required />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

